<div class="header">
  <div class="left_section">
    <img src="/images/spotify_logo.png" alt="spotify_logo" class="logo">
    <div class="logo_name"> spotify </div>
  </div>
  <div class="rigth_section">
    <div class="dev_name"> Abdulrafiu.dev </div>
  </div>
</div>