<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/style.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Anton&family=Butcherman&family=Caveat&family=DM+Sans:opsz@9..40&family=Kalam:wght@300&family=Lato:wght@700;900&family=Libre+Baskerville&family=Madimi+One&family=Montserrat:wght@400;600;700&family=Nosifer&family=Roboto:wght@400;700&display=swap" rel="stylesheet">
  <title>Spotify</title>
</head>
<body>

  <div class="section">
    <div class="header">
      <div class="left_section">
        <img src="/images/spotify_logo.png" alt="spotify_logo" class="logo">
        <div class="logo_name"> spotify </div>
      </div>
      <div class="rigth_section">
        <div class="dev_name"> Abdulrafiu.dev </div>
      </div>
    </div>

    <div class="input_element">
      <form action="/user" method="post" class="form">
        <div class="input_div">
          <input type="text" placeholder="Enter Username" class="input_box" name="input">
          <svg data-encore-id="icon" role="img" aria-hidden="true" class="search_icon" viewBox="0 0 16 16"><path d="M7 1.75a5.25 5.25 0 1 0 0 10.5 5.25 5.25 0 0 0 0-10.5zM.25 7a6.75 6.75 0 1 1 12.096 4.12l3.184 3.185a.75.75 0 1 1-1.06 1.06L11.304 12.2A6.75 6.75 0 0 1 .25 7z"></path></svg>
        </div>
        <input type="submit" value="Search" class="Search_button">
      </form>
    </div>
  </div>


  
</body>
</html>