<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/style.css">
  <title>Spotify</title>
</head>
<body>

  <div class="section">
    <div class="header">
      <div class="left_section">
        <img src="/images/spotify_logo.png" alt="spotify_logo" class="logo">
        <div class="logo_name"> spotify </div>
      </div>
      <div class="rigth_section">
        <div class="dev_name"> Abdulrafiu.dev </div>
      </div>
    </div>
  </div>


  
</body>
</html>